name: Lint and Type Check

on:
  push:
    branches: ["stage"]
  pull_request:
    branches: ["stage"]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: |
          uv pip install -e --system .[dev]

      - name: Run Ruff
        run: ruff check .

      - name: Run mypy
        run: mypy .
